*{
    font:"PT Sans";
}
.body{
    width:1125px;
}
.flex{
    display: flex;
    justify-content: space-between; 
}

.content{
    width:1110px;
    padding-top: 20px;
}
.top{
    height: 90px;
    padding-top: 35px;
}
.logo{
    position: absolute ;
}
.logoname{
    line-height: 0.6;
    font-size: 24px;
    font-weight: bold;
    padding-left: 215px;

}
.WEB{
    font-size: 15px;
}
.studia{
    font-weight: normal ;
    font-size: 15px;
}
.tel{
    line-height: 0.6;
    font-size: 24px;
    font-weight: bold;
}
.email{
    font-size: 15px;
    font-weight: normal;
}
.first-page{
    background-color: #f3f6fa;
    width: 100%;
    padding: 15px 0;
}

.first-page-list{
    height:40px;

}
.first-page-list ul li a{
    text-decoration: none;
    color:black;

}
.first-page-list ul li{
    justify-content: space-between;
    list-style: none;
    line-height: 0.5;
}
.first-page-list ul{
    padding-left:230px;
    padding-right: 30px;
}
.first-page-content{
    height: 700px;
}

.MAC a img{
    position:absolute;
    height: 615px;
    width:766px;
}

.MACBOOK a img{
    position: absolute;
    height: 395px;
    width: 752px;
}
.IPHONE a img{
    position: absolute;
    height: 312px;
    width: 120px;
}

.IPHONE {
    padding-left:950px;
    padding-top:78px;
    z-index:3;

}

.MACBOOK{
    padding-left:341px;
    padding-top:230px;
    z-index: 2;
}
.MAC{
    padding-left:45px;
    padding-top:5px;
    z-index:1;
}
html .MACIMG img{
    height: 410px;
    width: 708px;
}

html .MBIMG img{
    height: 300px;
    width: 552px;
}
html .IPIMG img{
    height: 228px;
    width: 96px;
}
.MACIMG {
    padding-left: 29px;
    padding-top: 70px;
}
.IPIMG {
    padding-left: 15px;
    padding-top: 100px;
}
.MBIMG {
    padding-left: 101px;
    padding-top: 70px;
}