*{
    font:"PT Sans";
}
.body{
    width:1125px;
}
.flex{
    display: flex;
    justify-content: space-between; 
}

.content{
    width:1110px;
    padding-top: 20px;
}
.top{
    height: 90px;
    padding-top: 35px;
}
.logo{
    position: absolute ;
}
.logoname{
    line-height: 0.6;
    font-size: 24px;
    font-weight: bold;
    padding-left: 215px;

}
.WEB{
    font-size: 15px;
}
.studia{
    font-weight: normal ;
    font-size: 15px;
}
.tel{
    line-height: 0.6;
    font-size: 24px;
    font-weight: bold;
}
.email{
    font-size: 15px;
    font-weight: normal;
}
.first-page{
    background-color: #f3f6fa;
    width: 100%;
    padding: 15px 0;
}

.first-page-list{
    height:40px;

}
.first-page-list ul li a{
    text-decoration: none;
    color:black;

}
.first-page-list ul li{
    justify-content: space-between;
    list-style: none;
    line-height: 0.5;
}
.first-page-list ul{
    padding-left:230px;
    padding-right: 30px;
}
.first-page-content{
    height: 700px;
    padding-top: 5px;
    
}

.MAC {
    position:absolute;
    height: 615px;
    width:766px;
    background: url(images/im.png) no-repeat;
    margin-left:34px;
    margin-top:10px;
    z-index:1;
    background-size: contain;
}

.MACBOOK {
    position: absolute;
    height: 395px;
    width: 752px;
      background: url(images/mb.png) no-repeat ;
  background-size: contain;
      margin-left:368px;
    margin-top:235px;
    z-index: 2;
}
.IPHONE {
    position: absolute;
    height: 312px;
    width: 120px;
      background: url(images/ip.png) no-repeat;
      margin-left:890px;
    margin-top:315px;
    z-index:3;
    background-size: contain;
}

html .MACIMG img{
    height: 410px;
    width: 708px;
}

html .MBIMG img{
    height: 300px;
    width: 552px;
}
html .IPIMG img{
    height: 228px;
    width: 96px;
}
.MACIMG {
    padding-left: 29px;
    padding-top: 70px;
}
.IPIMG {
    padding-left: 15px;
    padding-top: 100px;
}
.MBIMG {
    padding-left: 101px;
    padding-top: 70px;
}

html body .first-page-title{
    font-size: 36px;
    line-height:1 ;
   text-align: right;
   position: absolute;
   margin-left: 830px;
}